{% extends 'index.html' %}

{% load crispy_forms_tags %}

{% block header %}
<div class="row">
    {% include 'main/back_button.html' with url='todolist:list_item' page_name='Todo list' %}
</div>
<div class="row my-3">
    <span class="h3">Item Creation</span>
</div>
{% endblock  %}

{% block content %}
<form
    action="{% url 'todolist:create_item' %}"
    method="POST"
    class="row flex-column"
>
    {% csrf_token %}
    {{ form|crispy }}
    <div class="d-flex">
        <button
            type="submit"
            class="btn btn-success ml-auto"
        >
            Create
        </button>
    </div>
</form>
{% endblock  %}
