.tasks-container {
    height: 30em;
    overflow-y: scroll;
}

.task__number {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 5.5em;
    min-height: 5.5em;
    background-color: #2b2b2b;
}

.task__btn {
    display: flex;
    align-items: center;
    justify-content: center;
}

.task__btn_is-completed {
    width: 10em;
    min-height: 5.5em;
    border: 1px solid rgba(#000, 0.2);
    border-radius: 6px;
}

.category {
    border: 1px solid rgba(#000, 0.2);
    border-radius: 4px;
}
