{% extends 'index.html' %}

{% load static %}

{% block content %}

<div class="row align-items-center mb-4">
    <span class="col h2">
        Todo App
    </span>
    <span class="col flex-grow-0 h4 text-nowrap">
        {{ actual_time|date:'F j, G:i:s' }}
    </span>
</div>

<div class="row align-items-center">
    <a
        class="col-12 col-md-6"
        href="{% url 'todolist:list_category' %}"
    >
        <div
            class="main-link"
            style="background-image: url({% static 'img/main/category.jpg' %})"
        ></div>
        <span class="main-page-name h3 text-white">Categories</span>
    </a>
    <a
        class="col-12 col-md-6"
        href="{% url 'todolist:list_item' %}"
    >
        <div
            class="main-link"
            style="background-image: url({% static 'img/main/todolist.jpg' %})"
        ></div>
        <span class="main-page-name h3 text-white">Todo List</span>
    </a>
</div>

{% endblock  %}
